UPSTREAM_BASE_URL=https://httpbin.org

# kafka KRaft cluster ID generate with:
# python3 -c "import uuid, base64; print(base64.urlsafe_b64encode(uuid.uuid4().bytes).decode().rstrip('='))"
KAFKA_CLUSTER_ID=your-generated-id-here

KAFKA_BOOTSTRAP_SERVERS=kafka:9092

REDIS_URL=redis://redis:6379
